.contact-banner {
   background-image: url('../images/contact-banner.webp');
   background-size: cover;
   background-position: center;
   text-align: center;
   width: 100%;
   height: 90vh;
   color: white;
   padding: 70px 20px;
   font-size: 2.5rem;
   font-weight: bold;

}


.contact-info {
   text-align: center;
   padding: 50px 20px;
   font-size: 1.4rem;
   color: #5a3e2b;
}

.contact-info p {
   margin: 10px 0;
}

.contact-info p a {
   color: #6d4c41;
   text-decoration: none;
   font-weight: bold;
   transition: color 0.2s ease;
}

.contact-info p a:hover {
   color: #d66d3d;
}


.contact-form {
   max-width: 500px;
   margin: auto;
   padding: 40px;
   background: white;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.contact-form label {
   display: block;
   font-size: 1.2rem;
   margin: 15px 0 5px;
   color: #5a3e2b;
}


.contact-form input,
.contact-form textarea {
   width: 100%;
   padding: 12px;
   font-size: 1.1rem;
   border: 1px solid #6d4c41;
   border-radius: 5px;
   margin-bottom: 15px;
   transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
   border-color: #d2691e;
   outline: none;
}


.contact-form textarea {
   resize: none;
   height: 120px;
}


.contact-form .btn {
   /* background-color: #6d4c41; */
   background: linear-gradient(to top, #a0522d 50%, #d2691e 50%);
   background-size: 100% 200%;
   background-position: 0 0%;
   color: white;
   border-radius: 8px;
   padding: 14px 28px;
   font-size: 1.2rem;
   cursor: pointer;
   display: block;
   margin: 20px auto 0;
   text-align: center;
   width: fit-content;
   transition: background-position 0.3s ease-in-out;

}

.contact-form .btn:hover {
   /* background-color: #a0522d; */
   background-position: 0 100%;

}


@media (max-width: 768px) {
   .contact-banner {
      font-size: 2rem;
      padding: 80px 20px;
   }

   .contact-form {
      width: 90%;
      padding: 30px;
   }
}