.contact-banner {
   background-image: url('../images/contact-banner.jpg');
   background-size: cover;
   background-position: center;
   text-align: center;
   color: white;
   padding: 80px 20px;
   font-size: 2rem;
   font-weight: bold;
}


.contact-info {
   text-align: center;
   padding: 40px;
   font-size: 1.3rem;
}

.contact-info p a {
   color: #6d4c41;
   text-decoration: none;
   font-weight: bold;
}

.contact-form {
   max-width: 500px;
   margin: auto;
   padding: 40px;
   background: white;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.contact-form label {
   display: block;
   font-size: 1.2rem;
   margin: 10px 0 5px;
   color: #5a3e2b;
}


.contact-form input,
.contact-form textarea {
   width: 100%;
   padding: 12px;
   font-size: 1.1rem;
   border: 1px solid #6d4c41;
   border-radius: 5px;
   margin-bottom: 15px;
}

.contact-form textarea {
   resize: none;
}

.contact-form .btn {
   background-color: #6d4c41;
   color: white;
   padding: 12px 20px;
   font-size: 1.2rem;
   border: none;
   cursor: pointer;
}

.contact-form .btn:hover {
   background-color: #a0522d;
}